[flake8]
# We could check these in the future
extend-ignore =
    C901,
    E117,
    E127,
    E203,
    E262,
    E302,
    E303,
    E305,
    E402,
    E501,
    E711,
    E722,
    E741,
    F401,
    F405,
    F541,
    F811,
    F841
exclude =
    .git,
    __pycache__,
    dist,
    .venv,
    api/tests/*,
    packages/feature_documentation/*,
    scripts/build_scripts/build_scripts/*,
    layer/third_party/scripts/*
    api/producer/firehose/tests/*
max-complexity = 10
