[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"

[dev-packages]
pyhcl = "*"
pre-commit = "*"
sh = "*"
flake8 = "*"
pytest = "*"
requests = "*"
datamodel-code-generator = "*"
build-scripts = { path = "./scripts/build_scripts/", editable = true }

[requires]
python_version = "3.9"
