[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"

[dev-packages]
pyhcl = "*"
pre-commit = "*"
sh = "*"
black = "*"
pytest = "*"
boto3 = "*"

[requires]
python_version = "3.9"
