[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
nhs-number = "==1.2.1"
nrlf-lambda-pipeline = {git = "https://github.com/NHSDigital/nrlf-lambda-pipeline.git"}
aws-lambda-powertools = "*"

[dev-packages]
pyhcl = "*"
pre-commit = "*"
sh = "*"
flake8 = "*"
pytest = "*"
requests = "*"
datamodel-code-generator = "*"
build-scripts = { path = "./scripts/build_scripts/", editable = true }
awscli = "*"
nrlf = { path = "./layer/nrlf/", editable = true }
lambda-utils = { path = "./layer/lambda_utils/", editable = true }
moto = "*"
boto3 = "*"
black = "*"
behave = "*"

[requires]
python_version = "3.9"
