openapi: 3.0.0
info:
  title: NRLF Consumer API
  version: 0.0.1
  license:
    name: MIT
servers:
  - url: "https://sandbox.api.service.nhs.uk/nrl-consumer-api/FHIR/R4"
    description: Sandbox environment.
  - url: "https://int.api.service.nhs.uk/nrl-consumer-api/FHIR/R4"
    description: Integration test environment.
  - url: "https://api.service.nhs.uk/nrl-consumer-api/FHIR/R4"
    description: Production environment.
tags:
  - name: NRLF Consumer
paths:
  /DocumentReference:
    get:
      tags:
        - NRLF Consumer
      summary: Search for DocumentReference resources
      operationId: searchDocumentReference
      parameters:
        - $ref: "#/components/parameters/subject"
        - $ref: "#/components/parameters/custodian"
        - $ref: "#/components/parameters/type"
        - $ref: "#/components/parameters/odsCode"
        - $ref: "#/components/parameters/requestId"
        - $ref: "#/components/parameters/correlationId"
      responses:
        "200":
          description: Search DocumentReference operation successful
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/Bundle"
      security:
        - ${authoriser_name}: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${method_searchDocumentReference}
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: when_no_match
        contentHandling: CONVERT_TO_TEXT
  /DocumentReference/_search:
    post:
      tags:
        - NRLF Consumer
      summary: Search for DocumentReference resources
      operationId: searchPostDocumentReference
      parameters:
        - $ref: "#/components/parameters/odsCode"
        - $ref: "#/components/parameters/requestId"
        - $ref: "#/components/parameters/correlationId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestParams"
      responses:
        "200":
          description: Search DocumentReference operation successful
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/Bundle"
      security:
        - ${authoriser_name}: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${method_searchPostDocumentReference}
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: when_no_match
        contentHandling: CONVERT_TO_TEXT
  /DocumentReference/{id}:
    get:
      tags:
        - NRLF Consumer
      summary: Read a DocumentReference resource
      operationId: readDocumentReference
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/odsCode"
        - $ref: "#/components/parameters/requestId"
        - $ref: "#/components/parameters/correlationId"
      responses:
        "200":
          description: Read DocumentReference operation successful
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/DocumentReference"
      security:
        - ${authoriser_name}: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${method_readDocumentReference}
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: when_no_match
        contentHandling: CONVERT_TO_TEXT
