---
openapi: 3.0.0
info:
  title: NRLF Producer API
  version: 0.0.1
  license:
    name: MIT
servers:
  - url: https://sandbox.api.service.nhs.uk/record-locator/producer/FHIR/R4
    description: Sandbox environment.
  - url: https://int.api.service.nhs.uk/record-locator/producer/FHIR/R4
    description: Integration test environment.
  - url: https://api.service.nhs.uk/record-locator/producer/FHIR/R4
    description: Production environment.
tags:
paths:
  /DocumentReference:
    get:
      tags:
      summary: Search for DocumentReference resources
      operationId: searchDocumentReference
      parameters:
        - $ref: "#/components/parameters/subject"
        - $ref: "#/components/parameters/type"
        - $ref: "#/components/parameters/nextPageToken"
        - $ref: "#/components/parameters/odsCode"
        - $ref: "#/components/parameters/odsCodeExtension"
        - $ref: "#/components/parameters/requestId"
        - $ref: "#/components/parameters/correlationId"
      responses:
        "200":
          description: Search DocumentReference operation successful
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/Bundle"
      security:
        - ${authoriser_name}: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${method_searchDocumentReference}
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: when_no_match
        contentHandling: CONVERT_TO_TEXT
    post:
      tags:
      summary: Create a DocumentReference resource
      operationId: createDocumentReference
      parameters:
        - $ref: "#/components/parameters/odsCode"
        - $ref: "#/components/parameters/odsCodeExtension"
        - $ref: "#/components/parameters/requestId"
        - $ref: "#/components/parameters/correlationId"
      responses:
        "201":
          $ref: "#/components/responses/Success"
      requestBody:
        $ref: "#/components/requestBodies/DocumentReference"
      security:
        - ${authoriser_name}: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${method_createDocumentReference}
        responses:
          default:
            statusCode: "201"
        passthroughBehavior: when_no_match
        contentHandling: CONVERT_TO_TEXT
  /DocumentReference/{id}:
    get:
      tags:
      summary: Read a DocumentReference resource
      operationId: readDocumentReference
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/odsCode"
        - $ref: "#/components/parameters/odsCodeExtension"
        - $ref: "#/components/parameters/requestId"
        - $ref: "#/components/parameters/correlationId"
      responses:
        "200":
          description: Read DocumentReference operation successful
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/DocumentReference"
      security:
        - ${authoriser_name}: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${method_readDocumentReference}
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: when_no_match
        contentHandling: CONVERT_TO_TEXT
    put:
      tags:
      summary: Update an existing DocumentReference resource
      operationId: updateDocumentReference
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/odsCode"
        - $ref: "#/components/parameters/odsCodeExtension"
        - $ref: "#/components/parameters/requestId"
        - $ref: "#/components/parameters/correlationId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "201":
          $ref: "#/components/responses/Success"
      requestBody:
        $ref: "#/components/requestBodies/DocumentReference"
      security:
        - ${authoriser_name}: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${method_updateDocumentReference}
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: when_no_match
        contentHandling: CONVERT_TO_TEXT
    delete:
      tags:
      summary: Delete a DocumentReference resource
      operationId: deleteDocumentReference
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/odsCode"
        - $ref: "#/components/parameters/odsCodeExtension"
        - $ref: "#/components/parameters/requestId"
        - $ref: "#/components/parameters/correlationId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "204":
          $ref: "#/components/responses/Success"
      security:
        - ${authoriser_name}: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${method_deleteDocumentReference}
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: when_no_match
        contentHandling: CONVERT_TO_TEXT
  /DocumentReference/_search:
    post:
      tags:
      summary: Search for DocumentReference resources
      operationId: searchPostDocumentReference
      parameters:
        - $ref: "#/components/parameters/odsCode"
        - $ref: "#/components/parameters/odsCodeExtension"
        - $ref: "#/components/parameters/requestId"
        - $ref: "#/components/parameters/correlationId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestParams"
      responses:
        "200":
          description: Search DocumentReference operation successful
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/Bundle"
      security:
        - ${authoriser_name}: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: ${method_searchPostDocumentReference}
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: when_no_match
        contentHandling: CONVERT_TO_TEXT
